/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}
.list-container {
  padding: 0;
  margin: 0;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

h2.research_category {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin-bottom: 20px;


  span {
    background: #ffff;
    padding-right: 0 10px;
  }
}

.simple_list {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 0;
  padding: 0;
}
.research-container {
  p {
    margin-bottom: 9px;
    padding: 0;
    font-size: medium;
  }
  
}

.header__bar {
  border: 1px solid $info-color;
  opacity: .7;
}

/*
Archive
- Archive List
- - Archive List Item
- - Archive List Item

Archive List Item
- Title with link
- Description
*/

.archive-list {
  margin: 0;
  padding: 0;
}
.item-list {
  margin: 0;

  li {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    border: 1px solid $light-gray;

    &:hover {
      border: 1px solid $info-color;
    }

    h2,h3,h4 {
      margin: 0;
      margin-bottom: .3rem;
    }
    p {
      margin: 0;
      margin-bottom: .3rem;
      font-size: $type-size-6;
    }
    p.job_title {
      color: $info-color;
      font-style: italic;
    }

    a {
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        color: $info-color;
        text-decoration: none;
      }
    }
  }
}